@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

/*
font-family: 'Princess Sofia', cursive;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ecc334;
  height: fit-content;
  position: fixed;
  top: 0;
  font-family: 'Princess Sofia', cursive;


  nav {
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;


    img {
      height: 80px;
      margin-left: 2rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 2.5rem;
      list-style: none;
      font-size: 2.5rem;
    }

    a {
      text-decoration: none;
      color: black;


      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#index {
  main {
    margin-top: 20vh;

    section {

      article {
        display: flex;
        flex-direction: column;
        padding: 2rem;

        h5 {
          font-size: 1.5rem;
        }

        &:first-of-type {
          background-color: rgba(0, 0, 255, .5);
        }

        &:nth-of-type(2) {
          background-color: rgba(255, 0, 0, 0.5);
        }

        &:last-of-type {
          background-color: rgb(0, 255, 0, .5);
        }
      }
    }
  }

  .bildContainer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100vw;
    background-color: #ecc334;
    position: absolute;
    bottom: 0;
  }

  .element {
    height: 200px;
    aspect-ratio: 1/1;
    margin: 2rem 0;

    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 50%;


    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      transition: all 250ms ease-in;


      &:hover {
        opacity: 0.9;
        scale: 1.1;
      }
    }
  }

  button {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    box-shadow: 3px 3px 10px 1px black;
    background-color: red;
    color: white;
    font-size: 4rem;

    &:hover {
      box-shadow: 0 0 5px -1px black;
      font-size: calc(4rem - 5%);
    }
  }
}


#produkt {

  height: 100vh;
  overflow: hidden;
  width: 100vw;
  text-align: center;


  header {

    z-index: 1;


  }


  main {
    height: 100vh;
    /*zentrieren 2*/
    display: grid;
    place-items: center;

    /*zentrieren3*/
    /*display: flex;
    justify-content: center;
    align-content: center;*/


    &::before {

      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: url("https://images.unsplash.com/photo-1588776873617-51922b5885f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1530&q=80");
      opacity: .5;
      filter: grayscale(.75);
    }


    div {
      $rainbowSize: 800px;
      height: $rainbowSize;
      width: $rainbowSize;
      background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
      border-radius: 50% 5%;
      /*zentrieren 1*/
      /*
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      */
      /*zentrieren 2 siehe Main*/
      /*zentrieren 3*/
      margin: auto;
      outline: hotpink 2rem solid;
      border: black .5rem solid;


    }
  }
}

#flexbox {
  main {
    $background: rgba(darkslategray, .25);
    $gap: .25rem;
    outline: $gap solid $background;
    display: flex;
    flex-wrap: wrap;
    background-color: $background;
    width: 70vw;
    $height: 75vh;
    height: $height;
    margin-top: calc((100vh - $height)/2);
    margin-left: 15vw;
    gap: $gap;
    overflow: hidden;
    align-content: flex-start;

    div {
      $size: 75px;
      width: $size;
      height: $size;
      background-color: hotpink;

      &:nth-of-type(even) {
        background-color: lightpink;
      }

      &:nth-of-type(3n) {
        flex-grow: 2;
      }

      &:nth-of-type(10n) {
        background-color: lime;
      }
      &:nth-of-type(100n) {
        background-color: lightblue;
      }
    }

  }
}


